<?xml version="1.0"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <add xdt:Transform="SetAttributes"
         xdt:Locator="Match(name)"
         name="TodoContext"
         connectionString="Server=d79c9ac2-7eb8-4a21-97ce-a38501550c6b.sqlserver.sequelizer.com;Database=dbd79c9ac27eb84a2197cea38501550c6b;User ID=mtvcrkdnlhdkuyro;Password=NmyJVERpsQZG4aXLHXxMDt5wHBvkdxgbdi7isga6bHUaGHKACEXaJdctqcbsiFk3;" />
  </connectionStrings>
</configuration>